html {
  font-family: "Noto Sans KR", sans-serif;
}
body {
  margin: 0;
}
div,
section,
header,
footer,
p,
h1,
h2 {
  box-sizing: border-box;
}
a {
  color: royalblue;
}
img {
  max-width: 100%;
  height: auto;
}

.global-width {
  max-width: 620px;
  padding: 0 1rem;
  margin: 0 auto;
}

.scroll-graphic {
  position: sticky;
  top: 0;
  height: 100vh;
}

.graphic-item {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.scene-img {
  max-height: 100vh;
}

.scroll-text {
  position: relative;
  padding-bottom: 1px;
}

.step {
  margin-bottom: 60vh;
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px;
}
